@import '../scss/Main/reset';
@import '../scss/Main/config';

.nav {
    width: 100%;
    display: flex;
    background: #000;
    vertical-align: middle;
    .menu {
        padding: 40px 20px;
        li {
        display: inline;
        }
        .menu-item {
            font-size: 16px;
            padding: 20px;
            color: white;
            text-transform: uppercase;
        }
    }
}

.hero {
    height: 700px;
    background: rgb(25,180,198);
    background: linear-gradient(115deg, rgba(25,180,198,1) 35%, rgba(7,138,164,1) 100%);
    @media screen and (max-width: 640px) {
        height: 500px;
    }
    .hero-wrapper {
        top: 50%;
        transform: translateY(-50%);
        position: relative;
        max-width: 1440px;
        // width: 90%;
        margin: 0 20% 0 5%;
        color: white;
        .hero-title {
            font-size: 88px;
            margin-bottom: 40px;
            font-weight: 800;
            @media all and (max-width: 1440px) {
                font-size: 75px;
            }
            @media all and (max-width: 1280px) {
                font-size: 65px;
            }
                @media all and (max-width: 1024px) {
                    font-size: 55px;
            }
        }
        .hero-subtitle {
            opacity: .6;
            font-size: 40px;
        }
        .fas  {
            font-size: 40px;
            float: right;
        }
    }
}

.robin-hood {
    height: 400px;
    display: flex;
    @media screen and (max-width: 640px) {
        height: 200px;
    }
    @media screen and (min-width: 641px) and (max-width: 1024px) {
        height: 300px;
    }
    .two-thirds {
        display: inline-block;
        position: relative;
        width: 80%;
        background: #27212c;
        position: relative;
        text-align: center;
        h2 {
            color: rgb(177, 177, 177);
            font-size: 50px;
            font-weight: 600;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-60%, -50%);
            @media screen and (min-width: 641px) and (max-width: 1024px) {
                font-size: 25px;
            }
            @media screen and (max-width: 640px) {
                font-size: 20px;
            }
        }
    }
    .arrow {
        position: relative;
        display: inline-block;
        background-color: #bc3183;
        width: 20%;
        color: white;
        font-size: 30px;
        .fas {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            font-size: 50px;
        }
    }
}

.columns-3 {
    display: flex;
    flex-wrap: wrap;
    .col {
        width: 33%;
        height: calc(33vw);
        @media screen and (max-width: 640px) {
            width: 100%;
            height: 100vw;
        }
    }
    .arrow {
        background: purple;
        position: relative;
        .fas {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            font-size: 50px;
            color: white;
            @media screen and (max-width: 640px) {
                font-size: 90px;
            }
        }
    }
    .image {
        background-size: cover;
    }
    .bridge {
        background-image: url("http://yesofcorsa.com/wp-content/uploads/2015/08/4173_golden_gate_bridge.jpg");
    }
    .woman {
        background-image: url("https://yoursingoodhealth.files.wordpress.com/2015/07/woman-smiling_veer1.jpg");
    }
}

footer {
    background-color: lightgray;
    padding: 70px;
    font-size: 0;
    h2 {
        font-size: 30px;
        color: #088ca5;
        margin-bottom: 20px;
        font-weight: 800;
    }
    .footer-text {
        vertical-align: top;
        font-size: 16px;
        display: inline-block;
        width: calc(50% - 25px);
        line-height: 25px;
        color: gray;
        &:nth-of-type(1){
            margin-right: 50px;
        }
        &:nth-of-type(2){
            margin-right: -4;
        }
    }
}
