.about {

  .wrapper {
    margin-bottom: 50px;
  }
  .about-col {
    width: 95%;
    margin: 0 auto;
    .col {
      @include media (">=medium") {
        width: 50%;
      }
      margin: 0 10px;
      .img-container {
        background-color: $darker-gray;
      }
      .about-text-container {
        padding-right: 50px;
        margin-bottom: 100px;
      }
      .column-title {
        font-size: 20px;
        font-weight: 600;
        margin: 20px 0;
        text-transform: uppercase;
      }
      p {
        color: $darker-gray;
        line-height: 2.4rem;
        font-size: 1.6rem;
      }
    }
  }
}