.payment-section {
  padding-top: 10rem;
  padding-bottom: 10rem;
  border: 1px solid $gray;
  width: 95%;
  margin: 0 auto;
  background-color: rgb(250, 250, 250);
  label {
    font-size: 1.5rem;
  }
  .wrapper {
    width: 50%;
    @include media("<medium") {
      width: 80%;
    }
  }
  .section-subtitle {
    margin-bottom: 10rem;
  }
  p {
    font-size: 2rem;
    margin-bottom: 2rem;
    @extend .italizice;
    &:last-of-type {
      color: orange;
      margin-bottom: 10rem;
    }
  }
  .payments {
    font-size: 1.5rem;
    max-width: 50%;
    margin: 0 auto;
    text-align: start;
  }
}
