.btn {
  font-family: $primary-font;
  font-weight: 100;
  vertical-align: middle;
  padding: 25px 35px;
  display: inline-block;
  border: 1px solid $secondary-color;
  text-decoration: none;
  text-transform: uppercase;
  color: $secondary-color;
  background: $white;
  font-size: 1.6rem;

  &--orange {
    border: none;
    color: white;
    background: orange;
  }
}

.break {
  text-align: center;
}

.break-graphic {
  height: 40px;
  width: auto;
}